@tailwind base;
@tailwind components;
@tailwind utilities;
@import "highlight.js/styles/github-dark.css";

:root {
  /* Light theme variables */
  --color-bg-primary: #ffffff;
  --color-bg-secondary: #f3f4f6;
  --color-text-primary: #111827;
  --color-text-secondary: #4b5563;
  --color-border: #e5e7eb;
}

[data-theme="dark"] {
  --color-bg-primary: #111827;
  --color-bg-secondary: #1f2937;
  --color-text-primary: #f9fafb;
  --color-text-secondary: #d1d5db;
  --color-border: #374151;
}

html,
body {
  height: 100%;
  background-color: var(--color-bg-secondary);
  color: var(--color-text-primary);
}
